.btn-group {
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 15px 10px 30px #505d5b;
    color: #0c0c0c;

}
.btn-outline-light {
    color: black;
    border-radius: 4px;
    box-shadow: 15px 10px 30px #505d5b;
    background-color: #406ab2;
}
